@font-face {
    font-family: "nevis";
    src: url("fonts/nevis.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap");

html {
    height: 100%;
}

body {
    font-family: "Fira Sans", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    th {
        background-color: $primary;
        padding: 0.5rem;
    }
    td {
        padding: 0px;
    }
}

.footer
{
    position: relative;
    margin-top: auto;
    width: 100%;
    bottom: 0;
}

#svelte {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2 {
    font-family: "nevis";
}

/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bulma */
@import "bulma/sass/utilities/_all";

@import "bulma/sass/base/_all";

@import "bulma/sass/elements/box";
@import "bulma/sass/elements/button";
@import "bulma/sass/elements/container";
@import "bulma/sass/elements/title";

@import "bulma/sass/components/navbar";

@import "bulma/sass/grid/columns";

@import "bulma/sass/helpers/color";
@import "bulma/sass/helpers/flexbox";
@import "bulma/sass/helpers/spacing";
@import "bulma/sass/helpers/typography";
@import "bulma/sass/helpers/visibility";

@import "bulma/sass/layout/hero";
@import "bulma/sass/layout/section";
@import "bulma/sass/layout/footer";

.title {
    color: $light;
}

#azul{
    color: $primary;
}