$primary: #2196ba;
$info: #1b677e;
$dark: #062933;
$grey: #6E6C7E;

$link: $primary;
$success: #ABE9B3;
$danger: #F28FAD;
$warning: #F8BD96;

$black: #000;
$grey-dark: #1E1E2E; // #161320;
$white-soft: #D9E0EE;
$light: $white-soft;
$body-background-color: #161320; //#1E1E2E;

/* Variables and mixins declared here will be available in all other SCSS files */ /* https://github.com/jgthms/bulma/issues/1293 */
$body-overflow-y: auto;
